<%- include('../partials/head')  %> 
	<h1>Listado de Productos</h1>
	<ul>
		<% products.forEach(oneProduct => { %>
		<li>
			<b>Nombre:</b> <%= oneProduct.name %> <br>
			<b>Precio:</b> <%= oneProduct.price %> <br>
			<b>Marca:</b> <%= oneProduct.brand.name %> <br>
			<a href="/products/<%= oneProduct.id %> ">ver más</a>
			<hr>
		</li>
		<% }) %>
	</ul>
<%- include('../partials/footer')  %>